---
http_interactions:
- request:
    method: get
    uri: http://www.duolingo.com/users/Novohispano
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Tid:
      - 018708e952e34eb40037
      X-Ws:
      - 10.0.1.135
    body:
      encoding: UTF-8
      string: '{"language_data": {"pt": {"streak": 0, "language_string": "Portuguese",
        "level_progress": 35, "first_time": false, "num_global_practice": 1, "points_rank":
        3, "max_level": false, "level_tests": [], "next_level": 11, "show_real_world_practice":
        true, "points_ranking_data": [{"username": "javiayala", "language_string":
        "Portuguese", "points_data": {"languages": [{"language_string": "English",
        "points": 3251}, {"language_string": "Italian", "points": 1108}, {"language_string":
        "French", "points": 89}], "total": 4448}, "avatar": "https://duolingo-images.s3.amazonaws.com/avatars/190319/r9rq54lkdq",
        "language": "pt", "self": false, "id": 190319, "rank": 1}, {"username": "obvio171",
        "language_string": "Portuguese", "points_data": {"languages": [{"language_string":
        "Spanish", "points": 1780}, {"language_string": "German", "points": 681}],
        "total": 2461}, "avatar": "https://duolingo-images.s3.amazonaws.com/avatars/238876/iY1ZuXhohK",
        "language": "pt", "self": false, "id": 238876, "rank": 2}, {"username": "novohispano",
        "language_string": "Portuguese", "points_data": {"languages": [{"language_string":
      [...]
